<h1 class='page-header'> <%=prompt%> Overall Ranking </h1>

<ol>
    <% @aggregates.each do |aggregate| %>
    <li>
        <p>
        <%= image_tag(aggregate.image, size: '60x60') %>
        <%= aggregate.name %>
        </p>
    </li>
    <%end%>
</ol>

<a href='<%=new_ranking_url(@question.id)%>'> Rank <%=prompt%> yourself! </a>