
<select class='selector' name='ranking_hash[<%=option_id%>]' onfocus='savePreviousValue(event)' id='<%=option_id%>'>
    <option selected value='nil'> </option>
    <%= render 'options' %>
</select>
<label for='<%=option_id%>'><%=option_name%></label>