<!DOCTYPE html>
<html>
  <head>
    <title>MyTop10</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    
    
    <div class='topnav'>
      <%logo_url = logged_in? ? user_url(current_user) : new_session_url%>

      <div><a class="logo" href='<%=logo_url%>'> <%=image_tag("logos/mytop10.png", size: "250x100")%> </a></div>
      <div><a href='/'>Home</a></div>
      <div><a href='<%=rankings_url%>'>Make Ranking</a></div>
      <div><a href='<%=recent_rankings_url%>'>Recent Rankings</a></div>
      <div><a href='<%=new_suggestion_url%>'>Suggestion</a></div>
      
      <%button_text = logged_in? ? 'Sign out' : 'Sign in'%>
      <div><input id='sign_in_out' type='button' value='<%=button_text%>'></div>
    </div>
    <div id='banner-barrier'></div>
    <% if flash.now[:errors] %>
      <div class='errors-banner'>
        <%= flash.now[:errors] %> 
      </div>
    <%end%>

    <% if flash[:notice] %>
      <div class='notice-banner'>
        <%= flash[:notice] %> 
      </div>
    <%end%>
  </head>

  <body class='body'>
  
  <%=javascript_include_tag "signToggle"%>
    <%= yield %>
    
  </body>
</html>
