<!DOCTYPE html>
<html>
  <head>
    <title>MyTop10</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <div class='topnav'>
      <%logo_url = logged_in? ? user_url(current_user) : new_session_url%>
      <a class="logo" href='<%=logo_url%>'> <%=image_tag("logos/mytop10.png", size: '60') %> </a>
      <a class = 'active' href='/'>Home</a>
      <a href='<%=rankings_url%>'>New Ranking</a>
      <a href='<%=new_suggestion_url%>'>Suggestion</a>
      <%if logged_in?%>
        <form class = 'sign-in-out' action='session_url' method='POST'>
          <input type='hidden' name='_method'value='DELETE'>
          <input type='hidden' name='authenticity_token' value ='<%= form_authenticity_token%>'>
          <input type='submit' value='Sign-out'>
        </form>
      <%else%>
        <a href='<%=new_session_url%>'> Sign-in</a>
      <%end%>     
    </div>
  </head>

  <body class='body'>
    <%= yield %>
  </body>
</html>
