<!DOCTYPE html>
<html>
  <head>
    <title>MyTop10</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <div class='topnav'>
      <a class="logo" href='#profile'> <%=  image_tag("logos/mytop10.png", size: '60') %> </a>
      <a class = 'active' href='#home'>Home</a>
      <a href ='#cumulative_rankings'>Cumulative Rankings</a>
      <a href='#rankings/new'>New Ranking</a>
      <a href='#suggestions/new'>Suggestion</a>
    </div>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
